@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --cor-primaria: #1c4c83;
  --cor-secundaria: #1092d7;
  --cor-terciaria: #f0d067;
  --cor-quartenaria: #479f34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  all: unset;
}

button {
  cursor: pointer;
}

main {
  width: 100vw;
}

@media (max-width: 768px) {
  #start {
    scroll-margin-top: 6.5rem;
  }
}
