:root {
  --cor-primaria: #1c4c83;
  --cor-secundaria: #1092d7;
  --cor-terciaria: #f0d067;
  --cor-quartenaria: #479f34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  all: unset;
}

button {
  cursor: pointer;
}
