@import url('../../css/global.css');
@import url('../../components/navbar/navbar.css');
@import url('../../components/footer/footer.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.cta-title,
.s-title,
.c-title,
.form-title {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 900;
  position: relative;
  margin-left: 1rem;
  color: var(--cor-primaria);
}

.cta-title::before,
.s-title::before,
.c-title::before,
.form-title::before {
  content: '';
  position: absolute;
  height: 75%;
  left: -1rem;
  width: 0.35rem;
  border-radius: 1rem;
  background-color: var(--cor-primaria);
}

.s-title,
.form-title {
  color: white;
}

.s-title::before,
.form-title::before {
  background-color: white;
}

.call-to-action,
.schedules,
.forms {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.call-to-action {
  padding-top: 5rem;
  margin-top: 5rem;
}

.schedules {
  flex-direction: column;
  padding: 4rem 2.5rem;
  gap: 2.5rem;
  background-color: var(--cor-primaria);
  padding-bottom: 5.5rem;
}

.cta-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0 3.5rem;
  font-size: 2.39rem;
  color: var(--cor-primaria);
  width: 65vw;
}

.cta-content > p {
  text-align: justify;
}

.cta-side-img {
  overflow: hidden;
  position: relative;
  margin-right: 1.5rem;
}

.side-img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cor-primaria);
  font-size: 2rem;
  margin-left: 11.5rem;
}

.side-img-container {
  width: 100%;
  height: 45rem;
}

.side-img-container > img {
  width: 100%;
  min-height: 100%;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

.cta-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  gap: 2.5rem;
}

.cta-card {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  gap: 2rem;
  flex: 1 1 20rem;
  margin-top: 4rem;
}

.cta-card-content {
  flex: 1 1 0;
}

.cta-card-content > h3 {
  color: var(--cor-terciaria);
}

.cta-card-img {
  flex: 0.75 1 0;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
}

.cta-card-img > img {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
}

.s-main-content {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  justify-content: center;
}

.s-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  gap: 2.5rem;
  flex: 1 1 0;
}

.s-contact-data {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1 1 0;
  height: 100%;
  color: white;
  font-size: 2rem;
}

.s-contact-data > p {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  gap: 1rem;
}

hr {
  background-color: white;
  border: none;
  border-radius: 1rem;
  height: 0.25rem;
}

.s-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0;
  gap: 0.35rem;
}

.s-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 0 2.5rem;
  font-size: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 12rem;
}

.s-card-img {
  flex: 1 1 0;
  aspect-ratio: 1 / 1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.s-card-img > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}

.coaches {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 1 1 0;
  padding: 2.5rem;
}

.coach {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  background-color: var(--cor-primaria);
  border: 0.15rem solid var(--cor-secundaria);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.coach h3,
.coach p {
  display: flex;
  align-items: center;
}

.coach-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex: 1 1 0;
  border-bottom: 0.1rem solid var(--cor-secundaria);
}

.coach-content {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  padding-top: 0.5rem;
}

.coach-img {
  flex: 1 1 0;
  border-radius: 0.5rem;
}

.coach-img > img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.coach-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 0;
}

form {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: none;
  background-color: var(--cor-secundaria);
  font-size: 2rem;
  padding: 2.5rem;
}

input,
textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

input::placeholder,
textarea::placeholder {
  font-weight: 500;
  color: var(--cor-primaria);
}

.form-btn {
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--cor-primaria);
}

.icon {
  width: 1em;
  margin-right: 0.25rem;
}

@media (max-width: 1600px) {
  .cta-content {
    font-size: 1.9rem;
  }

  .cta-card-img > img {
    width: 100%;
    height: 100%;
    min-width: 15rem;
    min-height: 17rem;
  }

  .side-img-content {
    font-size: 1.8rem;
    margin-left: 8rem;
  }

  .cta-content {
    width: 75vw;
  }

  .side-img-container {
    height: 40rem;
  }

  .cta-card {
    margin-top: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .cta-content {
    font-size: 1.6rem;
  }

  .call-to-action {
    margin-top: 2rem;
  }

  .cta-card-img > img {
    min-width: 12rem;
    min-height: 16rem;
  }

  .side-img-content {
    font-size: 1.5rem;
    margin-left: 6rem;
  }

  .cta-content {
    width: 85vw;
  }

  .side-img-container {
    height: 36rem;
  }

  .cta-card {
    margin-top: 2.3rem;
  }
}

@media (max-width: 1000px) {
  .call-to-action {
    padding: 0;
    margin-top: 5rem;
  }

  .cta-content {
    padding: 2.5rem;
    width: 100%;
    margin: 0;
    font-size: 2rem;
    padding-right: 4rem;
  }

  .cta-side-img {
    display: none;
  }

  .coach {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .call-to-action {
    margin-top: 7rem;
  }

  .cta-card-content {
    width: 100%;
  }

  .cta-title {
    font-size: 3rem;
  }
}
