<aside class="desktop-navbar">
  <nav class="navbar-container">
    <div class="navigation-section">
      <div class="navbar-spacing"></div>
      <ul>
        <li><a href="#">INÍCIO</a></li>
        <li><a href="#">HISTÓRIA</a></li>
        <li><a href="#">CONTATO</a></li>
        <li><a href="#">ELENCO</a></li>
      </ul>
    </div>
    <div class="logo">
      <div class="rotated-spacing"></div>
      <img
        src="../../assets/icons/futsal-logo.png"
        alt="Logo da Prefeitura de Assis"
      />
      <div class="rotated-spacing"></div>
    </div>
    <div class="navigation-section">
      <div class="navbar-spacing"></div>
      <div class="slogan">
        <p>Prefeitura de <span>Assis</span> #juntos por um novo tempo</p>
      </div>
    </div>
  </nav>
</aside>

<aside class="mobile-navbar">
  <nav class="navbar-container">
    <div class="logo">
      <img
        src="../../assets/icons/futsal-logo.png"
        alt="Logo da Prefeitura de Assis"
      />
      <h1>Assis Futsal</h1>
    </div>
    <div class="hamburguer-menu">
      <span class="hamburguer-menu-item"></span>
      <span class="hamburguer-menu-item"></span>
      <span class="hamburguer-menu-item"></span>
    </div>
    <div class="menu">
      <div class="logo">
        <img
          src="../../assets/icons/futsal-logo.png"
          alt="Logo da Prefeitura de Assis"
        />
      </div>
      <ul>
        <li><a href="#">INÍCIO</a></li>
        <li><a href="#">HISTÓRIA</a></li>
        <li><a href="#">CONTATO</a></li>
        <li><a href="#">ELENCO</a></li>
      </ul>
      <div class="slogan">
        <p>Prefeitura de <span>Assis</span> #juntos por um novo tempo</p>
      </div>
    </div>
  </nav>
  <div id="opacity" class="opacity"></div>
</aside>
