@import url("../../css/global.css");

.navbar-container {
  display: flex;
  font-size: 1.2rem;
  max-height: 8.5rem;
  min-width: 100vw;
  font-weight: bold;
}

.navbar-spacing {
  position: relative;
  height: 4rem;
  min-width: 45vw;
  background-color: var(--cor-primaria);
}

.rotated-spacing:nth-of-type(1) {
  width: 6rem;
  height: 100px;
  background-color: var(--cor-primaria);
  transform: skew(-23deg);
  position: absolute;
  left: 43.4%;
}

.rotated-spacing:nth-of-type(2) {
  width: 6rem;
  height: 100px;
  background-color: var(--cor-primaria);
  transform: skew(23deg);
  position: absolute;
  right: 43.4%;
}

.navigation-section {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3.5rem;
  gap: 13%;
  flex-grow: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.logo > img {
  width: 170%;
  height: 170%;
  object-fit: contain;
  margin-top: 4rem;
  margin-right: 2rem;
}

.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--cor-secundaria);
  flex-grow: 1;
  font-size: 2rem;
  font-weight: 400;
}

.slogan > p > span {
  color: var(--cor-primaria);
}

.mobile-navbar {
  display: none;
}

ul > li > a {
  position: relative;
  transition: all 300ms ease-in-out;
  color: var(--cor-primaria);
  font-size: 2rem;
  font-weight: 550;
}

ul > li > a::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 0.25rem;
  border-radius: 1rem;
  top: 2.5rem;
  background-color: var(--cor-secundaria);
  transition: all 300ms ease-in-out;
}

ul > li > a:hover::after {
  left: 0;
  width: 100%;
}

ul > li > a:hover {
  color: var(--cor-terciaria);
}

@media (max-width: 1800px) {
  .logo > img {
    width: 150%;
    height: 150%;
  }

  .rotated-spacing:nth-of-type(1) {
    left: 42.5%;
  }

  .rotated-spacing:nth-of-type(2) {
    right: 42.5%;
  }
}

@media (max-width: 1500px) {
  .rotated-spacing:nth-of-type(1) {
    left: 41.5%;
  }

  .rotated-spacing:nth-of-type(2) {
    right: 41.5%;
  }

  ul {
    gap: 9%;
  }

  .logo > img {
    margin-right: 1.5rem;
  }
}

@media (max-width: 1300px) {
  .logo > img {
    width: 120%;
    height: 120%;
  }

  .navbar-spacing {
    min-width: 44vw;
  }

  .rotated-spacing:nth-of-type(1) {
    left: 40.4%;
  }

  .rotated-spacing:nth-of-type(2) {
    right: 40.4%;
  }

  .slogan {
    font-size: 1.5rem;
  }

  ul {
    gap: 6%;
  }

  ul > li > a {
    font-size: 1.3rem;
    font-weight: 800;
  }
}

@media (max-width: 1000px) {
  .logo > img {
    width: 110%;
    height: 110%;
  }

  .rotated-spacing:nth-of-type(1) {
    left: 40%;
  }

  .rotated-spacing:nth-of-type(2) {
    right: 40%;
  }

  .slogan {
    font-size: 1.2rem;
  }

  ul {
    gap: 3%;
  }

  ul > li > a {
    font-size: 1.2rem;
  }

  .rotated-spacing:nth-of-type(1) {
    width: 4.7rem;
  }

  .rotated-spacing:nth-of-type(2) {
    width: 4.7rem;
  }
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    max-height: 6.5rem;
    min-width: 100vw;
    position: fixed;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    z-index: 10;
    border-bottom: 0.1rem solid #fff;
  }

  .navbar-container {
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: auto;
    padding: 1rem 3rem;
    background-color: var(--cor-primaria);
    color: rgb(255, 255, 255);
  }

  .logo {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: unset;
    width: auto;
  }

  .logo > img {
    width: 160%;
    height: 160%;
    object-fit: contain;
    margin: 0;
  }

  .logo > h1 {
    font-size: large;
    white-space: nowrap;
    font-size: 2rem;
  }

  .hamburguer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: var(--cor-secundaria);
    top: 0.5rem;
    right: 1rem;
    padding: 1rem;
    z-index: 5;
  }

  .hamburguer-menu > .hamburguer-menu-item {
    width: 100%;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    border: 0.25rem solid rgb(255, 255, 255);
    transition: all 300ms ease-in-out;
  }

  .rotate-child-one {
    width: 55% !important;
    transform: translateY(1.25rem) rotate(45deg);
  }

  .hide-child-two {
    display: none;
  }

  .rotate-child-three {
    width: 55% !important;
    transform: translateY(-1.25rem) rotate(-45deg);
  }

  .menu {
    max-width: 100vw;
    min-width: 50vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    background-color: var(--cor-primaria);
    z-index: 2;
    overflow: auto;
    gap: 1rem;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 400ms ease-in-out;
  }

  .opacity {
    width: 0;
    height: 0;
    transition: background-color 0.5s ease-in-out;
    background-color: transparent;
  }

  .opacity-active {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.55);
  }

  .menu > .logo {
    max-height: 15rem;
  }

  .menu > .logo > img {
    max-width: 100%;
    max-height: 100%;
  }

  .visible-menu {
    visibility: visible;
    transform: translateX(0);
  }

  .fix-close-button {
    padding: 0;
  }

  .menu > ul {
    margin: 0;
    gap: 0;
    flex-direction: column;
    font-size: larger;
    justify-content: flex-start;
  }

  ul > li > a {
    color: rgb(255, 255, 255);
    transition: 0;
    font-size: 1.8rem;
    display: block;
    min-width: 50vw;
    max-width: 100vw;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.01rem solid rgba(255, 255, 255, 0.25);
    padding-left: 15rem;
    font-weight: 400;
  }

  ul > li {
    width: 100%;
  }

  ul > li:last-child > a {
    border-bottom: 0.01rem solid rgba(255, 255, 255, 0.25);
  }

  ul > li > a::after {
    display: none;
  }

  .menu > .slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    font-size: 1.8rem;
    padding: 3rem;
  }

  .menu > .slogan > p > span {
    color: rgb(255, 255, 255);
  }
}

.animation-text {
  padding-left: 0;
}

@media (max-width: 500px) {
  .menu {
    width: 100vw;
  }
}
