<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/global.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Navbar</title>
  </head>
  <body>
    <aside class="desktop-navbar">
      <nav class="navbar-container">
        <div class="navigation-section">
          <div class="navbar-spacing"></div>
          <ul>
            <li><a href="#">INÍCIO</a></li>
            <li><a href="#">HISTÓRIA</a></li>
            <li><a href="#">CONTATO</a></li>
            <li><a href="#">ELENCO</a></li>
          </ul>
        </div>
        <div class="logo">
          <div class="rotated-spacing"></div>
          <img
            src="../../assets/icons/futsal-logo.png"
            alt="Logo da Prefeitura de Assis"
          />
          <div class="rotated-spacing"></div>
        </div>
        <div class="navigation-section">
          <div class="navbar-spacing"></div>
          <div class="slogan">
            <p>Prefeitura de <span>Assis</span> #juntos por um novo tempo</p>
          </div>
        </div>
      </nav>
    </aside>

    <aside class="mobile-navbar">
      <nav class="navbar-container">
        <div class="logo">
          <img
            src="../../assets/icons/futsal-logo.png"
            alt="Logo da Prefeitura de Assis"
          />
          <h1>Prefeitura de Assis</h1>
        </div>
        <div class="hamburguer-menu">
          <span class="hamburguer-menu-item"></span>
          <span class="hamburguer-menu-item"></span>
          <span class="hamburguer-menu-item"></span>
        </div>
        <div class="menu">
          <ul>
            <li><a href="#">INÍCIO</a></li>
            <li><a href="#">HISTÓRIA</a></li>
            <li><a href="#">CONTATO</a></li>
            <li><a href="#">ELENCO</a></li>
          </ul>
          <div class="slogan">
            <p>Prefeitura de <span>Assis</span> #juntos por um novo tempo</p>
          </div>
        </div>
      </nav>
    </aside>
    <script src="./navbar.js"></script>
  </body>
</html>
